.title-progress-bar {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.square {
  width: 2rem;
  height: 2rem;
  margin: 10px 10px;
  border: 2px solid black;
}

.container-progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0px 20%;
}

.button-container {

  display: flex;
  justify-content: space-between;
  margin: 20px auto 0px auto;
  width: 250px;

}

.button {
  background-color: transparent;
  border: 1px solid #e5e5e5;
  width: 80px;
}

.button:hover {
  cursor: pointer;
}

.active {
  background-color: turquoise;
}